# Byte-compiled files
src/__pycache__/
auto_LiRPA/__pycache__/
# IDE configuration files
src/.vscode/
# OS-specific files
.DS_Store
# Legacy directories
legacy/
# Directories
src/cysignals_crash_logs/
src/datasets/sample100_unnormalized/
src/datasets/sampled_data/
src/datasets/sdp/
src/docs/
src/exp_configs/
src/log_dir
src/models/bab_attack/
src/models/cifar10_resnet/
src/models/crown_ibp/
src/models/custom_op
src/models/custom_specs/
src/models/non_relu/
src/models/oval/
src/models/sdp/
src/models/vnncomp22/
src/tests/
# Files
src/test_relu_score_unstable.py
src/preimage_runnerup_label.py
req_convert.py
environment_bc4.yml




